[Flickr]
API_KEY     = FLICKR_API_KEY
PHOTOSET_ID = FLICKR_PHOTOSET_ID

[Twitter]
CONSUMER_KEY    = TWITTER_CONSUMER_KEY
CONSUMER_SECRET = TWITTER_CONSUMER_SECRET
OAUTH_TOKEN     = TWITTER_OAUTH_TOKEN
OAUTH_SECRET    = TWITTER_OAUTH_SECRET
